/**
*  This is our lighter-weight theme file for PDF and HTML exports
**/
// Export variable overrides
$font-size-base: 18px;

//global variables
@import "variables";
// Variables, Mixins
@import "theme/_variables.scss";
@import "theme/_mixins.scss";


//Select Bootstrap Libraries
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/badges";

/*
 *
 *   SpaceLab Theme - Select imports
 *
*/


@import "theme/_base.scss"; 
@import "theme/_badges.scss";
@import "theme/_backgrounds.scss";  
@import "theme/_buttons.scss";
@import "theme/_forms.scss"; 
@import "theme/_main-content.scss";        
@import "theme/_colors.scss";
@import "theme/_icons.scss"; 
@import "theme/_pages.scss";
@import "theme/_panels.scss";  
@import "theme/_tiles.scss";

@page {
  size: 8.5in 11in;/* width height */
  margin: 0mm;
}

body.export{

	padding: 20px; 

	pre{
		border: 1px #ccc solid;
		padding: 10px;
		background-color: #efefef;
		max-width: 100%;
		overflow-x: scroll;
	}

	code{
		overflow:hidden;
	}

	margin: 13mm 5mm 13mm 5mm;

	thead {display: table-header-group;}
  	table {
        -fs-table-paginate: paginate;
        tr{
        		page-break-inside: avoid!important;
        		-webkit-region-break-inside: avoid; 
        	th,td{
        		page-break-inside: avoid!important;
        		-webkit-region-break-inside: avoid; 	
        	}
        }
    }
}
