.settings
logs/*.log
settings.xml
.netbeans
test/results/*.properties
test/results/*.html
test/results/*.log
tests/results
modules/cbjavaloader
modules/cbi18n
workbench/build.number
modules/*
!modules/relax
coldbox
testbox
