.vscode

includes/*
!includes/static
!includes/helpers

.artifacts/**
.tmp/**

bower_components/**
node_modules/**

test-harness/.engine/**
test-harness/coldbox/**
test-harness/docbox/**
test-harness/testbox/**
test-harness/logs/**
test-harness/modules/**
build/results.json

# Only our packaged apis should be included
models/resources
!models/resources/forgebox
!models/resources/myapi
!models/resources/petstore

# log files
logs/**
modules/**