/**
*  This is our lighter-weight theme file for PDF and HTML exports
**/
//global variables
@import "includes/variables";


//External Libs
$control-sidebar-width : 350px;
@import '~admin-lte/build/scss/AdminLTE.scss';
@import '~bootstrap-vue/src/index';
@import "~font-awesome/scss/font-awesome";
@import '~icheck/skins/all.css';
@import '~prismjs/themes/prism-okaidia.css';

@page {
  size: 8.5in 11in;/* width height */
  margin: 0mm;
}

body.export{

	padding: 20px;

	pre{
		border: 1px #ccc solid;
		padding: 10px;
		background-color: #efefef;
		max-width: 100%;
		overflow-x: scroll;
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;
	}

	code{
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;
	}

	margin: 13mm 5mm 13mm 5mm;

	thead {display: table-header-group;}
  	table {
        -fs-table-paginate: paginate;
        tr{
        		page-break-inside: avoid!important;
        		-webkit-region-break-inside: avoid;
        	th,td{
        		page-break-inside: avoid!important;
        		-webkit-region-break-inside: avoid;
        	}
        }
    }
}
