/**
*  This is our lighter-weight theme file for PDF and HTML exports
**/

//global variables
@import "variables";
// Variables, Mixins
@import "theme/_variables.scss";
@import "theme/_mixins.scss";

// Greyscale for exports
$brand-primary:         #333;
$primaryColor:			$brand-primary;
$brand-success:         #666666;
$successColor:			$brand-success;
$brand-info:            #696969;
$infoColor:				$brand-info;
$brand-warning:         #999999;
$warningColor:			$brand-warning;
$brand-default:			#cccccc;
$defaultColor:			$brand-default;
$brand-danger:          #d9534f;
$dangerColor:			$brand-danger;

//Select Bootstrap Libraries
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/panels";

/*
 *
 *   SpaceLab Theme - Select imports
 *
*/


@import "theme/_base.scss";
@import "theme/_badges.scss";
@import "theme/_backgrounds.scss";
@import "theme/_buttons.scss";
@import "theme/_forms.scss";
@import "theme/_main-content.scss";
@import "theme/_icons.scss";
@import "theme/_pages.scss";
@import "theme/_panels.scss";
@import "theme/_tiles.scss";

@page {
  size: 8.5in 11in;/* width height */
  margin: 0mm;
}

body.export{

	padding: 20px;

	pre{
		border: 1px #ccc solid;
		padding: 10px;
		background-color: #efefef;
		max-width: 100%;
		overflow-x: scroll;
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;
	}

	code{
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;
	}

	margin: 13mm 5mm 13mm 5mm;

	thead {display: table-header-group;}
  	table {
        -fs-table-paginate: paginate;
        tr{
        		page-break-inside: avoid!important;
        		-webkit-region-break-inside: avoid;
        	th,td{
        		page-break-inside: avoid!important;
        		-webkit-region-break-inside: avoid;
        	}
        }
    }
}
