/* table sorter */
.tablesorter {
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
.tablesorter thead tr th, .tablesorter tfoot tr th {
	background-color: #E0EFEF;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
.tablesorter thead tr .headerSortDown, .tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	vertical-align: top;
}
.tablesorter tbody tr.even{
	background-color:#F0F0F0;
}.tablesorter tbody tr{
	background-color:#fff;
}
.tablesorter tbody tr:hover { background: #d7eafe; }
.tablesorter tbody tr.center { text-align: center; }
.tablesorter tbody td a{ text-decoration: none; border: none;}